{% extends "base.html" %}
{% block content %}
<h2>{{ 'Editar' if user else 'Nuevo' }} usuario</h2>
<form method="post" class="form">
  <label>Email</label><input type="email" name="email" value="{{ user.email if user else '' }}" required>
  <label>Rol</label>
  <select name="role">
    <option value="staff" {% if user and user.role=='staff' %}selected{% endif %}>staff</option>
    <option value="admin" {% if user and user.role=='admin' %}selected{% endif %}>admin</option>
  </select>
  <label>Contraseña</label><input type="password" name="password" placeholder="{{ 'dejar vacío para no cambiar' if user else '' }}">
  <button>Guardar</button>
</form>
{% endblock %}